local
logs
mods
resourcepacks
saves
.curseclient
options.txt
rhino.local.properties
usercache.json
usernamecache.json
glfw.dll
jemalloc.dll
jna3329697002867322404.dll
jna3329697002867322404.dll.x
lwjgl_opengl.dll
lwjgl_stb.dll
lwjgl.dll
minecraftinstance.json
OpenAL.dll
