local
logs
mods
resourcepacks
saves
.curseclient
options.txt
rhino.local.properties
usercache.json
usernamecache.json
glfw.dll
jemalloc.dll
jna3329697002867322404.dll
jna3329697002867322404.dll.x
lwjgl_opengl.dll
lwjgl_stb.dll
lwjgl.dll
minecraftinstance.json
OpenAL.dll
.vscode/fluid-attributes.json
.vscode/item-attributes.json
.vscode/item-tag-attributes.json
.vscode/lang-keys.json
.vscode/probe.class-definitions.json
.vscode/probe.code-snippets
.vscode/probe.doc-schema.json
.vscode/probe.lang_key-definitions.json
.vscode/probe.lang-schema.json
.vscode/probe.registry-definitions.json
.vscode/settings.json
journeymap